<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap-responsive.css">
    <script type="text/javascript" src="/static/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.widget.min.js"></script>
    <script type="text/javascript" src="/static/js/base/metro-carousel.js"></script>
    <script type="text/javascript" src="/static/js/base/metro.min.js"></script>
    <style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }
    </style>
</head>

<body class="metro" style="background-color:#efeae3;">
    <div class="bg-dark">
        <div style=" margin:0 auto;width:1200px;text-align:center;height:45px;line-height:45px;">
            <nav class="navigation-bar dark">
                <nav class="navigation-bar-content" style="height:45px;line-height:45px;">
                    <div class="element" style="float:left;text-align:left;">
                        <a class="title fg-wirte" href="/index">
                            <span><i class="icon-home"></i>XXXXXXXX</span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element">
                        <a class="title fg-wirte" href="/question/Index">
                            <span>问答</span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element" style="float:left;">
                        <a class="title fg-wirte" href="/index">
                            <span>
                                商城
                            </span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element place-right">
                        <a class="" href="#">
                            <span><i class="icon-comments-3 on-left-more"></i>通知</span>
                        </a>
                    </div>
                    <span class="element-divider place-right">
                    </span>
                    <span class="element-divider place-right"></span>
                    <div class="element place-right">
                        <a class="" href="#">
                            <span><i class="icon-user on-left-more"></i>昵称</span>
                        </a>
                    </div>
                    <div style="clear:both;">

                    </div>
                </nav>
            </nav>
        </div>
    </div>
    <div style="background:url('/static/img/5.jpg') no-repeat;height:300px;">
        <div class="container" style="padding:50px 20px;height:300px;width:1200px;margin:0 auto;text-align:center;">
            <h1 class="fg-white" style="text-align:left;">欢迎来到问吧</h1>
            <h2 class="fg-white">有问题你就来......这里有各种奇怪,惊诧,趣味的回答,更等待的是你精准的来回答...</h2>

            <button id="createFlatWindow" class="place-left button bg-darkred bg-hover-red fg-white fg-hover-white bd-orange" style="margin-top:10px;">
                <h3 style="margin:10px 40px;">
                    登录
                    <span class="icon-user on-right"></span>
                </h3>
            </button>

        </div>
        <div style="clear:both;height:10px;">

        </div>
    </div>
    <div style="text-align:center;">
        <div class="container" style="text-align:center;">
            <div class="grid fluid no-overflow" style="width:1200px;margin:0 auto;text-align:center;">
                <div class="row" style="overflow:hidden;no-margin;">

                    <div class="span3 bg-amber padding20 text-center">
                        <a href="/question/index">
                            <h2 class="fg-white">问答</h2>
                        </a>
                    </div>


                    <div class="span3 bg-green padding20 text-center">
                        <a href="/job/index">
                            <h2 class="fg-white">招聘</h2>
                        </a>
                    </div>


                    <div class="span3 bg-red padding20 text-center">
                        <a href="/love/index">
                            <h2 class="fg-white">花钱约下</h2>
                        </a>
                    </div>
                    <div style="clear:both;">

                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding:10px 0;height:300px;text-align:center;">
            <div class="grid ">
                <div class="row" style="width:1200px;margin:0 auto;text-align:center;">
                    <div class="span4 no-table-portrait nophone">
                        <div class="notice marker-on-right bg-lighterblue padding20 text-center" style="height:200px;">
                            <h1 class="fg-white" style="line-height:80px;font-size:120px;margin-bottom;">?</h1>
                            <p class="subheader-secondary fg-white">
                                轻松回答,购物
                            </p>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="span8">
                            <div class="listview-outlook">
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">静态文件处理</span>
                                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                                        <span class="list-remark">前面我们介绍了如何输出静态页面，但是我们的网页往往包含了很多的静态文件，包括图片、JS、CSS 等，刚才创建的应用里面就创建了如下目录：</span>
                                    </div>
                                </a>
                            </div>
                            <div class="listview-outlook">
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">静态文件处理</span>
                                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                                        <span class="list-remark">前面我们介绍了如何输出静态页面，但是我们的网页往往包含了很多的静态文件，包括图片、JS、CSS 等，刚才创建的应用里面就创建了如下目录：</span>
                                    </div>
                                </a>
                            </div>
                            <div class="listview-outlook">
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">静态文件处理</span>
                                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                                        <span class="list-remark">前面我们介绍了如何输出静态页面，但是我们的网页往往包含了很多的静态文件，包括图片、JS、CSS 等，刚才创建的应用里面就创建了如下目录：</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="clear:both;">

        </div>
    </div>
    <div style="">
        <div class="container">
            这是代码区域
        </div>
    </div>
    <div style="clear:both;">

    </div>
    <div class="bg-steel ">
        <div class="container padding20 fg-white">
            <div class="carousel bg-transparent no-overflow " id="carousel2" style="width:100%;height:210px;">
                <div class="slide" style="width:1200px;margin:0 auto;text-align:center;">
                    <div class="place-right">
                        <img class="span3" alt="" src="/static/img/5.jpg">
                    </div>
                    <h2 class="fg-white ntm">关于我们</h2>
                    <p class="fg-white">我们团队永远是那么活泼可爱,如果你想加入我们,请不要犹豫,来吧.....</p>
                    <a class="button small inverse" href="">立刻加入我们吧</a>
                </div>

                <div class="slide">
                    <div class="place-right">
                        <img class="span3" alt="" src="/static/img/2.jpg">
                    </div>
                    <h2 class="fg-white ntm">网站介绍</h2>
                    <p class="fg-white">我们团队永远是那么活泼可爱,如果你想加入我们,请不要犹豫,来吧.....</p>
                    <a class="button small inverse" href="">立刻加入我们吧</a>
                </div>
                <div class="slide">
                    <div class="place-right">
                        <img class="span3" alt="" src="/static/img/3.jpg">
                    </div>
                    <h2 class="fg-white ntm">我们的业余生活</h2>
                    <p class="fg-white">我们团队永远是那么活泼可爱,如果你想加入我们,请不要犹豫,来吧.....</p>
                    <a class="button small inverse" href="">立刻加入我们吧</a>
                </div>

            </div>
            <script type="text/javascript">
            $('#carousel2').carousel({
                height: 210,
                period: 5000,
                duration: 1000,
                markers: {
                    type: false
                }
            });
            </script>
        </div>
    </div>
    <script type="text/javascript">
    $("#createFlatWindow").on('click', function() {
        $.Dialog({
            overlay: true,
            shadow: true,
            flat: true,
            draggable: true,
            icon: '<img src="images/excel2013icon.png">',
            title: 'Flat window',
            content: '',
            padding: 10,
            onShow: function(_dialog) {
                var content = '<form class="user-input" method="post" action="/user/Login">' +
                    '<label>用户名</label>' +
                    '<div class="input-control text"><input type="text" name="uname"><button class="btn-clear"></button></div>' +
                    '<label>密码:</label>' +
                    '<div class="input-control password"><input type="password" name="upass"><button class="btn-reveal"></button></div>' +
                    '<div class="input-control checkbox"><label><input type="checkbox" name="c1" checked/><span class="check"></span>记住用户名</label></div>' +
                    '<div class="form-actions">' +
                    '<button class="button primary">登录</button>&nbsp;' +
                    '<button class="button" type="button" onclick="$.Dialog.close()">Cancel</button> ' +
                    '</div>' +
                    '</form>';

                $.Dialog.title("User login");
                $.Dialog.content(content);
            }
        });
    });

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))

            return (arr[2]);
        else
            return null;
    }
    //alert(getCookie("username"));
    </script>

</body>



</html>
