<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap-responsive.css">
    <script type="text/javascript" src="/static/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.widget.min.js"></script>
</head>

<body class="metro" style="background-color:#EDEFF5">
    <div class="bg-dark">
        <div class="container">
            <div class="grid no-margin">
                <div class="row no-margin">
                    <div class="span12">
                        <nav class="navigation-bar dark">
                            <nav class="navigation-bar-content">
                                <item class="element">花钱约下</item>
                                <item class="element-divider">推荐</item>
                                <item class="element">动态</item>
                                <item class="element">兴趣</item>
                                <item class="element">搭讪广场</item>
                                <item class="element">个人主页</item>
                                <item class="element place-right"><a class="fg-white" href="/">大庆阳</a>
                                </item>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="span10">
                    <div class="padding10 bg-white " style="height:110px;">
                        <div class="span2" style="text-align:center;height:110px;line-height:50px;">
                            <span>您有一批推荐</span>
                            <button>立即查看</button>
                        </div>
                        <div class="span7" style="height:110px;">
                            <div>
                                <small>北京 20到30岁 的女生</small>
                            </div>
                            <div style="text-align:center;line-height:30px;">
                                <small>------------------------------------高级会员功能---------------------------------------</small>
                            </div>
                        </div>
                    </div>
                    <div style="height:40;text-align:center;">
                        <h3></h3>
                        <small>以下是18:00-21:00时间段的个性化推荐，花田针对你的资料及偏好为你做定时推荐</small>
                    </div>
                    <div>
                        <div class="bg-white" style="height:150px;margin-bottom:20px;">
                            <div class="span2">
                                <div class="image-container">
                                    <img src="/static/img/face/7.jpg">
                                    <div class="overlay-fluid">
                                        ...
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>
                            </div>
                            <div class="span7" style="padding-left:100px;">
                                <div style="clear:both">
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>谁可以给我依靠 (刚刚登陆)</small>
                                    </h4>

                                </div>
                                <div class="tertiary-text-secondary" style="">
                                    <small>21岁 | 160厘米 | 大专以下 | 2000-4000元 | 1张</small>
                                </div>

                                <div class="tertiary-text-secondary" style="padding-top:15px;height:50px;">
                                    <small>正在寻找：住在北京，18-28岁的男生。</small>
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>推荐理由：根据你的择偶要求，Ta可能就是你要找的人</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="span1" style="text-align:center;">
                                <div style="height:40px;">
                                    <h4><i class="icon-heart" style="background:#efeae3;color: white;padding: 5px;border-radius: 50%"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-cancel-2 fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-comments-5 fg-#efeae3"></i>
                                    </h4>
                                </div>
                            </div>
                            <div style="clear:both;">

                            </div>
                        </div>
                        <div class="bg-white" style="height:150px;margin-bottom:20px;">
                            <div class="span2">
                                <div class="image-container">
                                    <img src="/static/img/face/7.jpg">
                                    <div class="overlay-fluid">
                                        ...
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>
                            </div>
                            <div class="span7" style="padding-left:100px;">
                                <div style="clear:both">
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>谁可以给我依靠 (刚刚登陆)</small>
                                    </h4>

                                </div>
                                <div class="tertiary-text-secondary" style="">
                                    <small>21岁 | 160厘米 | 大专以下 | 2000-4000元 | 1张</small>
                                </div>

                                <div class="tertiary-text-secondary" style="padding-top:15px;height:50px;">
                                    <small>正在寻找：住在北京，18-28岁的男生。</small>
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>推荐理由：根据你的择偶要求，Ta可能就是你要找的人</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="span1" style="text-align:center;">
                                <div style="height:40px;">
                                    <h4><i class="icon-heart" style="background:#efeae3;color: white;padding: 5px;border-radius: 50%"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-cancel-2 fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-comments-5 fg-#efeae3"></i>
                                    </h4>
                                </div>
                            </div>
                            <div style="clear:both;">

                            </div>
                        </div>
                        <div class="bg-white" style="height:150px;margin-bottom:20px;">
                            <div class="span2">
                                <div class="image-container">
                                    <img src="/static/img/face/7.jpg">
                                    <div class="overlay-fluid">
                                        ...
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>
                            </div>
                            <div class="span7" style="padding-left:100px;">
                                <div style="clear:both">
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>谁可以给我依靠 (刚刚登陆)</small>
                                    </h4>

                                </div>
                                <div class="tertiary-text-secondary" style="">
                                    <small>21岁 | 160厘米 | 大专以下 | 2000-4000元 | 1张</small>
                                </div>

                                <div class="tertiary-text-secondary" style="padding-top:15px;height:50px;">
                                    <small>正在寻找：住在北京，18-28岁的男生。</small>
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>推荐理由：根据你的择偶要求，Ta可能就是你要找的人</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="span1" style="text-align:center;">
                                <div style="height:40px;">
                                    <h4><i class="icon-heart" style="background:#efeae3;color: white;padding: 5px;border-radius: 50%"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-cancel-2 fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-mail fg-#efeae3"></i>
                                    </h4>
                                </div>
                            </div>
                            <div style="clear:both;">

                            </div>
                        </div>
                        <div class="bg-white" style="height:150px;margin-bottom:20px;">
                            <div class="span2">
                                <div class="image-container">
                                    <img src="/static/img/face/7.jpg">
                                    <div class="overlay-fluid">
                                        ...
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>
                            </div>
                            <div class="span7" style="padding-left:100px;">
                                <div style="clear:both">
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>谁可以给我依靠 (刚刚登陆)</small>
                                    </h4>

                                </div>
                                <div class="tertiary-text-secondary" style="">
                                    <small>21岁 | 160厘米 | 大专以下 | 2000-4000元 | 1张</small>
                                </div>

                                <div class="tertiary-text-secondary" style="padding-top:15px;height:50px;">
                                    <small>正在寻找：住在北京，18-28岁的男生。</small>
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>推荐理由：根据你的择偶要求，Ta可能就是你要找的人</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="span1" style="text-align:center;">
                                <div style="height:40px;">
                                    <h4><i class="icon-heart" style="background:#efeae3;color: white;padding: 5px;border-radius: 50%"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-cancel-2 fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-comments-5 fg-#efeae3"></i>
                                    </h4>
                                </div>
                            </div>
                            <div style="clear:both;">

                            </div>
                        </div>
                        <div class="bg-white" style="height:150px;margin-bottom:20px;">
                            <div class="span2">
                                <div class="image-container">
                                    <img src="/static/img/face/7.jpg">
                                    <div class="overlay-fluid">
                                        ...
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>
                            </div>
                            <div class="span7" style="padding-left:100px;">
                                <div style="clear:both">
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>谁可以给我依靠 (刚刚登陆)</small>
                                    </h4>

                                </div>
                                <div class="tertiary-text-secondary" style="">
                                    <small>21岁 | 160厘米 | 大专以下 | 2000-4000元 | 1张</small>
                                </div>

                                <div class="tertiary-text-secondary" style="padding-top:15px;height:50px;">
                                    <small>正在寻找：住在北京，18-28岁的男生。</small>
                                </div>
                                <div class="tertiary-text">
                                    <h4>
                                        <small>推荐理由：根据你的择偶要求，Ta可能就是你要找的人</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="span1" style="text-align:center;">
                                <div style="height:40px;">
                                    <h4><i class="icon-heart fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-cancel-2 fg-#efeae3"></i>
                                    </h4>
                                </div>
                                <div style="height:40px;">
                                    <h4><i class="icon-comments-5 fg-#efeae3"></i>
                                    </h4>
                                </div>
                            </div>
                            <div style="clear:both;">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 bg-white padding20">
                    <div>
                        <span>
                            <img class="span1" src="/static/img/face/2.jpg">
                        </span>
                        <span>
                            <strong>Dolly</strong>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="border-bottom:1px solid #efeae3;line-height:40px;">
                        <span>喜欢 0</span>
                        <span>被喜欢0</span>
                    </div>
                    <div style="text-align:center;border-bottom:1px solid #efeae3;">
                        <div class="span1" style="width:130px;">
                            <h1 style="width:100px;padding:0;">
                                <i class=" icon-camera" style="background:#efeae3;color:white;padding:10px;border-radius: 1%"></i>
                                </br>
                                <span class="padding0" style="font-size:12px;text-align:center">上传照片
                                </span>
                            </h1>
                        </div>
                        <div class="span1  " style="width:130px;">
                            <h1 style="width:100px;padding:0;">
                                <i class="icon-file" style="background:#efeae3;color:white;padding:10px;border-radius: 1%"></i>
                                </br>
                                <span class="padding0" style="font-size:12px;text-align:center">上传照片
                                </span>
                            </h1>
                        </div>

                        <div class="span1 " style="width:130px;">
                            <h1 style="width:100px;padding:0;">
                                <i class="icon-key-2" style="background:#efeae3;color:white;padding:10px;border-radius: 1%"></i>
                                </br>
                                <span class="padding0" style="font-size:12px;text-align:center">上传照片
                                </span>
                            </h1>
                        </div>

                        <div style="clear:both;">

                        </div>
                    </div>
                    <div>
                        我是普通用户 充值 我的花田币：0个
                    </div>
                    <div>
                        <h6>
                            <small>再连续签到3天，获赠3个花田币</small>
                        </h6>
                        <button>
                            <small>立即签到</small>
                        </button>
                    </div>
                    <div class="tile double bg-red">
                        <div class="brand">
                            <div class="badge"><i class="icon-rocket"></i>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;">

                    </div>
                    <div class="panel">
                        <div class="panel-header bg-lightBlue fg-white">
                            这是标题
                        </div>
                        <div class="panel-content">

                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        </div>
                    </div>

                </div>
                <div style="clear:both;">

                </div>
            </div>
        </div>
    </div>
</body>

</html>
