<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap-responsive.css">
    <script type="text/javascript" src="/static/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.widget.min.js"></script>
</head>

<body class="metro">
    <div class="bg-dark">
        <div class="container">
            <div class="grid no-margin">
                <div class="row no-margin">
                    <div class="span12">
                        <nav class="navigation-bar dark">
                            <nav class="navigation-bar-content">
                                <item class="element">花钱约下</item>
                                <item class="element-divider">姑娘</item>
                                <item class="element">姑娘</item>
                                <item class="element">汉子</item>
                                <item class="element place-right"><a href="/">大庆阳</a></item>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="border-bottom:5px solid black;height:150px;margin:0 auto;padding-top:20px;">
            <div class="grid">
                <div class="row">
                    <div class="span8 place-left">
                        <h1 class="fg-red">寻人启事
                        </h1>
                        总有一个好姑娘在等着你 浏览人数：9,793,100
                    </div>
                    <div class="span3 bg-amber place-right padding15 text-center ">
                        <a href="/question/index">
                            <h4 class="fg-white ">也想被推荐?</h4>
                        </a>
                    </div>
                    <div class="span3 bg-red place-right padding15 text-center">
                        <a href="/job/index">
                            <h4 class="fg-white">
                                <span class="icon-plus-2 fg-white "></span>求发布</h4>
                        </a>
                    </div>
                    <div style="clear:both;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:80px;">
        <div class="grid ">
            <div class="row">
                <div class="span2 bg-amber place-right padding10 text-center ">
                    <a href="/question/index">
                        <h4 class="fg-white ">姑娘</h4>
                    </a>
                </div>
                <div class="span2 bg-lightTeal place-right padding10 text-center">
                    <a href="/job/index">
                        <h4 class="fg-white">
                            <span class="icon-plus-2 fg-white "></span>汉子</h4>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="span15 padding0" style="height:110px;">
                    <div class="span2 no-margin">
                        <img class="span1.5" src="/static/img/face/2.jpg">
                    </div>
                    <div class="span11 no-margin" style="border-top:1px solid #efeae3;">
                        <blockquote>
                            <h4><a href="/love/show">【第130期】大龄萝莉吃货一枚：身高是硬性条件哦</a></h4>
                            <p class="tertiary-text-secondary">
                                <small>感谢花田能够给我个机会，让我成为站在人群中央的那个人。 83年巨蟹座女生，出生于河北张家口，现居西安。是一家轻商务连锁酒店的店长。大龄萝莉，吃货一枚，喜欢吃饭，睡觉，画画，看书，做白日梦…</small>
                            </p>
                            <small>Someone famous
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </blockquote>
                    </div>
                    <div class="span1.5 no-margin padding0 text-center" style="width:115px;border:1px solid #efeae3;height:110px;border-bottom:0;">
                    
                        </br>
                        <h2>234</h2>
                        <small>人看过</small>
                    </div>
                </div>
                <div style="clear:both;">

                </div>

            </div>
            <div class="row no-margin" style="">
                <div class="span15 padding0" style="height:110px;">
                    <div class="span2 no-margin">
                        <img class="span1.5" src="/static/img/face/2.jpg">
                    </div>
                    <div class="span11 no-margin" style="border-top:1px solid #efeae3;">
                        <blockquote>
                            <h4>【第130期】大龄萝莉吃货一枚：身高是硬性条件哦</h4>
                            <p class="tertiary-text-secondary">
                                <small>感谢花田能够给我个机会，让我成为站在人群中央的那个人。 83年巨蟹座女生，出生于河北张家口，现居西安。是一家轻商务连锁酒店的店长。大龄萝莉，吃货一枚，喜欢吃饭，睡觉，画画，看书，做白日梦…</small>
                            </p>
                            <small>Someone famous
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </blockquote>
                    </div>
                    <div class="span1.5 no-margin padding0 text-center" style="width:115px;border:1px solid #efeae3;height:110px;border-bottom:0;">
                        </br>
                        <h2>234</h2>

                        <small>人看过</small>
                    </div>
                </div>
                <div style="clear:both;">

                </div>

            </div>
            <div class="row no-margin" style="">
                <div class="span15 padding0" style="height:110px;">
                    <div class="span2 no-margin">
                        <img class="span1.5" src="/static/img/face/2.jpg">
                    </div>
                    <div class="span11 no-margin" style="border-right:1px solid #efeae3;">
                        <blockquote>
                            <h4>【第130期】大龄萝莉吃货一枚：身高是硬性条件哦</h4>
                            <p class="tertiary-text-secondary">
                                <small>感谢花田能够给我个机会，让我成为站在人群中央的那个人。 83年巨蟹座女生，出生于河北张家口，现居西安。是一家轻商务连锁酒店的店长。大龄萝莉，吃货一枚，喜欢吃饭，睡觉，画画，看书，做白日梦…</small>
                            </p>
                            <small>Someone famous
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </blockquote>
                    </div>
                    <div class="span1.5 no-margin padding0 text-center" style="width:115px;border:1px solid #efeae3;height:110px;border-bottom:0;">
                        </br>
                        <h2>234</h2>

                        <small>人看过</small>
                    </div>
                </div>
                <div style="clear:both;">

                </div>

            </div>
        </div>
    </div>


</body>

</html>
