<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap-responsive.css">

    <script type="text/javascript" src="/static/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.widget.min.js"></script>
    <script type="text/javascript" src="/static/js/base/metro.min.js"></script>
    <script type="text/javascript" src="/static/js/base/metro-dropdown.js"></script>
</head>

<body class="metro">
    <div class="bg-dark">
        <div style=" margin:0 auto;width:1200px;text-align:center;height:45px;line-height:45px;">
            <nav class="navigation-bar dark">
                <nav class="navigation-bar-content" style="height:45px;line-height:45px;">
                    <div class="element" style="float:left;text-align:left;">
                        <a class="title fg-wirte" href="/index">
                            <span><i class="icon-home"></i>XXXXXXXX</span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element">
                        <a class="title fg-wirte" href="/question/Index">
                            <span>问答</span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element" style="float:left;">
                        <a class="title fg-wirte" href="/index">
                            <span>
                                商城
                            </span>
                        </a>
                    </div>
                    <span class="element-divider" style="float:left;text-align:left;"></span>
                    <div class="element place-right">
                        <a class="" href="#">
                            <span><i class="icon-comments-3 on-left-more"></i>通知</span>
                        </a>
                    </div>
                    <span class="element-divider place-right">
                    </span>
                    <span class="element-divider place-right"></span>
                    <div class="element place-right">
                        <a class="" href="#">
                            <span><i class="icon-user on-left-more"></i>昵称</span>
                        </a>
                    </div>
                    <div style="clear:both;">

                    </div>
                </nav>
            </nav>
        </div>
    </div>
    <div class="container" style="margin:0 auto;">
        <div class="grid">
            <div class="row">
                <div class="span10">
                    <div class="bg-white" style="border:1px solid #efeae3;">
                        <div style="padding:10px 10px;">
                            <h3 style="line-height:20px;">姚琦</h3>

                        </div>
                        <div style="height:60px;padding:20px 10px;">
                            <div class="span2">
                                <img class="shadow" src="/static/img/face/6.jpg">
                            </div>
                            <div class="span7">
                                <div style="border-bottom:1px solid silver;">互联网</div>
                                <div style="padding:15px 0;">
                                    <p class="tertiary-text-secondary">发起了众筹项目，"浮生若茶"~~ 倒计时中~~</p>
                                </div>
                            </div>
                        </div>
                        <div style="height:40px;">

                        </div>
                        <div style="padding:20px 10px;">
                            <span>234234 赞同</span>
                            <span>84725684 感谢</span>
                            <span>
                                <button class="place-right">私信</button>
                            </span>
                            <span>
                                <button class="place-right">关注</button>
                            </span>

                        </div>
                        <div style="background-color:#efeae3;padding:20px 10px;">
                            <span>主页</span>
                            <span>提问 134</span>
                            <span>回答 5432</span>
                            <span>专栏文章 131</span>
                            <span>收藏 2</span>
                        </div>
                    </div>
                    <div style="height:20px;">

                    </div>
                    <div style="padding:20px 10px;border:1px solid #efeae3;">
                        <div>
                            <h5>擅长话题</h5>
                        </div>
                        <div>
                            <h5>回答</h5>
                            <div></div>
                        </div>
                        <div>
                            <h5>最新动态</h5>
                        </div>
                    </div>
                </div>
                <div class="span4" style="">
                    <div class="padding10" style="border-bottom:1px solid #efeae3;text-align:center">
                        <div class="span1.5 " style="border-right:1px solid #efeae3;padding:0 10px;">
                            <a href="">
                                <h3>23542</h3>关注</a>
                        </div>
                        <div class="span1.5">
                            <a href="">
                                <h3>234524
                                </h3>粉丝</a>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div style="padding:20px 0;">
                        我赞同了ta
                        <strong>5</strong>次
                    </div>
                    <div>
                        <h6>关注了
                            <strong>4</strong>个专栏</h6>
                        <div>
                            <img src="/static/img/face/5.jpg">
                        </div>
                    </div>
                </div>
                <div style="clear:both;">

                </div>
            </div>
        </div>
    </div>
</body>

</html>
