<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/metro-bootstrap-responsive.css">
    <script type="text/javascript" src="/static/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/base/jquery.widget.min.js"></script>
    <script type="text/javascript" src="/static/js/job/index.js"></script>

</head>

<body class="metro" style="background-color:#EDEFF5">
    <div class="bg-white">
        <div class="container">
            <div class="grid no-margin">
                <div class="row no-margin">
                    <div class="span12">
                        <nav class="navigation-bar white">
                            <nav class="navigation-bar-content">
                                <item class="element"><a class="fg-dark" href="/">大庆阳</a>
                                </item>
                                <item class="element-divider"></item>
                                <item class="element"><a class="fg-dark" href="/question">问答</a>
                                </item>
                                <item class="element"><a class="fg-dark" href="/love">大庆阳</a>
                                </item>
                                <item class="element"><a class="fg-dark" href="/">大庆阳</a>
                                </item>
                                <item class="element">个人主页</item>
                                <item class="element place-right">
                                </item>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="row ">
                <div style="clear:both"></div>
                <div class="span14">
                    <div class="offset11">
                        <span class="place-right">
                            <button class="large bg-red fg-white">我是企业主,
                                <small>找员工</small>
                            </button>
                        </span>
                    </div>
                    <div style="clear:both"></div>
                    <div style="height:20px;">

                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="span3 bg-white">
                    <nav class="sidebar light">
                        <ul>
                            <li class="title">发布日期</li>
                            <li><a href="#">今天</a>
                            </li>
                            <li><a href="#">最近一周</a>
                            </li>
                            <li><a href="#">最近一月</a>
                            </li>

                            <li class="title">工作经验</li>
                            <li><a href="#">1年以下</a>
                            </li>
                            <li><a href="#">1--3年</a>
                            </li>
                            <li><a href="#">3-10年</a>
                            </li>
                            <li class="title">学历要求</li>
                            <li><a href="#">无</a>
                            </li>
                            <li><a href="#">高中</a>
                            </li>
                            <li><a href="#">大专</a>
                            </li>
                            <li><a href="#">本科</a>
                            </li>
                            <li class="title">职位类别</li>
                            <li><a href="#">销售业务</a>
                            </li>
                            <li><a href="#">销售管理</a>
                            </li>
                            <li><a href="#">软件/互联网/系统</a>
                            </li>
                            <li><a href="#">集成</a>
                            </li>
                            <li class="title">公司性质</li>
                            <li><a href="#">国营</a>
                            </li>
                            <li><a href="#">民营</a>
                            </li>
                            <li><a href="#">合资</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="span11 bg-white">
                    <div class="panel">
                        <div class="panel-header bg-lightBlue fg-white padding10 " style="height:60px;line-height:40px;">
                            排列方式：发布日期相关度首发日 显示方式列表 详细
                        </div>
                        <div class="panel-content">


                            <div>
                                <div class="">
                                    <h6>职位名称 公司名称 工作地点 发布日期</h6>
                                </div>
                                <div class=" padding5" id="ex" onmouseover="bgchange()" style="line-height:20px;">
                                    <div class="span0">
                                        <small>
                                            <div class="input-control radio">
                                                <label>
                                                    <input type="radio" />
                                                    <span class="check"></span>
                                                </label>
                                            </div>
                                        </small>
                                    </div>
                                    <div class="span3 padding5">
                                        <small>新媒体客户专员</small>
                                    </div>
                                    <div class="span3 padding5">
                                        <small>北京泰尔沃特公关咨询有限公司</small>
                                    </div>
                                    <div class="span2 padding5">
                                        <small>北京-朝阳区</small>
                                    </div>
                                    <div class="span1" style="padding:5px 0;">
                                        <small>14-03-08</small>
                                    </div>
                                    <div style="clear:both;">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="bg-lightBlue fg-white" style="padding-left:20px;">
                            <div class="input-control radio">
                                <label>
                                    <input type="radio" />
                                    <span class="check"></span>
                                </label>
                            </div>
                            <button>深情选中职位</button>
                            <button>收藏选中职位</button>
                        </div>
                    </div>
                    <div style="height:50px;">

                    </div>
                    <div style="line-height:50px;text-align:conter">
                        <div class="pagination">
                            <ul>
                                <li class="first"><a><i class="icon-first-2"></i></a>
                                </li>
                                <li class="prev"><a><i class="icon-previous"></i></a>
                                </li>
                                <li><a>1</a>
                                </li>
                                <li><a>2</a>
                                </li>
                                <li class="active"><a>3</a>
                                </li>
                                <li class="spaces"><a>...</a>
                                </li>
                                <li class="disabled"><a>4</a>
                                </li>
                                <li><a>500</a>
                                </li>
                                <li class="next"><a><i class="icon-next"></i></a>
                                </li>
                                <li class="last"><a><i class="icon-last-2"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
